@font-face {
    font-family: 'webfont';
    src: url('../../assets/Tomatoes-O8L8.ttf') format("truetype");
} 


#footer {
    width: 100%;
    height: 50px;  
    position: fixed; 
    bottom: 0px; 
    left: 0px; 
    justify-content: center;
    
 }

 .fancy {
    font-family: 'webfont';
    color: whitesmoke;
}