.bg-img {
  background-image: url("../../assets/BG5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  background-color: #282c34;
  position: relative;
  z-index: -999999;
}
