textarea {
    width: 500px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #343a40;
    color: whitesmoke;
    resize: none;
  }

input {
background-color: #343a40;
color: whitesmoke;
}

.blog {
  /* color: whitesmoke; */
  font-size: x-large;
}

.card {
  background-color: lightcoral;
}