.jumbotron {
    background-image: url("wisconsinpictures-m8VP5Ub-Ydw-unsplash\ \(2\).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    padding-top: 10;
    text-align: center;
    text-indent: 2cm ;
}